<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <filter>
  	<filter-name>LoginFilter</filter-name>
  	<display-name>LoginFilter</display-name>
  	<description></description>
  	<filter-class>com.bwc.biz.emedicare.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CallBackServlet</servlet-name>
  	<display-name>CallBackServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.CallBackServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetJsTicketServlet</servlet-name>
  	<display-name>GetJsTicketServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.GetJsTicketServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeServlet</servlet-name>
  	<display-name>HomeServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryServlet</servlet-name>
  	<display-name>ExploratoryServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VisitsServlet</servlet-name>
  	<display-name>VisitsServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.VisitsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AppointmentsServlet</servlet-name>
  	<display-name>AppointmentsServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.AppointmentsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LangSettingServlet</servlet-name>
  	<display-name>LangSettingServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.LangSettingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PersonalInfoServlet</servlet-name>
  	<display-name>PersonalInfoServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.PersonalInfoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserInitServlet</servlet-name>
  	<display-name>UserInitServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.UserInitServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet</servlet-name>
  	<display-name>ExploratoryDetailServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet02</servlet-name>
  	<display-name>ExploratoryDetailServlet02</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet02</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet03</servlet-name>
  	<display-name>ExploratoryDetailServlet03</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet03</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet04</servlet-name>
  	<display-name>ExploratoryDetailServlet04</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet04</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet05</servlet-name>
  	<display-name>ExploratoryDetailServlet05</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet05</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet06</servlet-name>
  	<display-name>ExploratoryDetailServlet06</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet06</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet07</servlet-name>
  	<display-name>ExploratoryDetailServlet07</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet07</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet08</servlet-name>
  	<display-name>ExploratoryDetailServlet08</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet08</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet09</servlet-name>
  	<display-name>ExploratoryDetailServlet09</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet09</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet10</servlet-name>
  	<display-name>ExploratoryDetailServlet10</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet10</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet11</servlet-name>
  	<display-name>ExploratoryDetailServlet11</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet11</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet12</servlet-name>
  	<display-name>ExploratoryDetailServlet12</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet12</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet13</servlet-name>
  	<display-name>ExploratoryDetailServlet13</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet13</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet14</servlet-name>
  	<display-name>ExploratoryDetailServlet14</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet14</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet15</servlet-name>
  	<display-name>ExploratoryDetailServlet15</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet15</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet16</servlet-name>
  	<display-name>ExploratoryDetailServlet16</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet16</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet17</servlet-name>
  	<display-name>ExploratoryDetailServlet17</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet17</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet18</servlet-name>
  	<display-name>ExploratoryDetailServlet18</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet18</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet19</servlet-name>
  	<display-name>ExploratoryDetailServlet19</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet19</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet20</servlet-name>
  	<display-name>ExploratoryDetailServlet20</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet20</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet21</servlet-name>
  	<display-name>ExploratoryDetailServlet21</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet21</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet22</servlet-name>
  	<display-name>ExploratoryDetailServlet22</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet22</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExploratoryDetailServlet23</servlet-name>
  	<display-name>ExploratoryDetailServlet23</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.ExploratoryDetailServlet23</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BkAccountListServlet</servlet-name>
  	<display-name>BkAccountListServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.BkAccountListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BkDetailInfoServlet</servlet-name>
  	<display-name>BkDetailInfoServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.BkDetailInfoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BkHistoryListServlet</servlet-name>
  	<display-name>BkHistoryListServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.BkHistoryListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BkVistisInfoServlet</servlet-name>
  	<display-name>BkVistisInfoServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.BkVistisInfoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BkVisitsListServlet</servlet-name>
  	<display-name>BkVisitsListServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.BkVisitsListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BkImportInfoServlet</servlet-name>
  	<display-name>BkImportInfoServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.BkImportInfoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BkNextPlanServlet</servlet-name>
  	<display-name>BkNextPlanServlet</display-name>
  	<description></description>
  	<servlet-class>com.bwc.biz.emedicare.servlets.BkNextPlanServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    	<servlet-name>LoginServlet</servlet-name>
    	<url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LogoutServlet</servlet-name>
    	<url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CallBackServlet</servlet-name>
    	<url-pattern>/callback.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GetJsTicketServlet</servlet-name>
    	<url-pattern>/getJsTicket.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>HomeServlet</servlet-name>
    	<url-pattern>/home.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryServlet</servlet-name>
    	<url-pattern>/exploratory.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>VisitsServlet</servlet-name>
    	<url-pattern>/visits.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AppointmentsServlet</servlet-name>
    	<url-pattern>/appointments.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LangSettingServlet</servlet-name>
    	<url-pattern>/langsetting.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PersonalInfoServlet</servlet-name>
    	<url-pattern>/personalinfo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UserInitServlet</servlet-name>
    	<url-pattern>/userinit.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet</servlet-name>
    	<url-pattern>/exploratorydetail.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet02</servlet-name>
    	<url-pattern>/exploratorydetail02.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet03</servlet-name>
    	<url-pattern>/exploratorydetail03.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet04</servlet-name>
    	<url-pattern>/exploratorydetail04.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet05</servlet-name>
    	<url-pattern>/exploratorydetail05.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet06</servlet-name>
    	<url-pattern>/exploratorydetail06.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet07</servlet-name>
    	<url-pattern>/exploratorydetail07.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet08</servlet-name>
    	<url-pattern>/exploratorydetail08.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet09</servlet-name>
    	<url-pattern>/exploratorydetail09.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet10</servlet-name>
    	<url-pattern>/exploratorydetail10.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet11</servlet-name>
    	<url-pattern>/exploratorydetail11.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet12</servlet-name>
    	<url-pattern>/exploratorydetail12.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet13</servlet-name>
    	<url-pattern>/exploratorydetail13.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet14</servlet-name>
    	<url-pattern>/exploratorydetail14.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet15</servlet-name>
    	<url-pattern>/exploratorydetail15.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet16</servlet-name>
    	<url-pattern>/exploratorydetail16.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet17</servlet-name>
    	<url-pattern>/exploratorydetail17.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet18</servlet-name>
    	<url-pattern>/exploratorydetail18.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet19</servlet-name>
    	<url-pattern>/exploratorydetail19.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet20</servlet-name>
    	<url-pattern>/exploratorydetail20.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet21</servlet-name>
    	<url-pattern>/exploratorydetail21.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet22</servlet-name>
    	<url-pattern>/exploratorydetail22.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ExploratoryDetailServlet23</servlet-name>
    	<url-pattern>/exploratorydetail23.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>BkAccountListServlet</servlet-name>
    	<url-pattern>/bkaccountlist.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>BkDetailInfoServlet</servlet-name>
    	<url-pattern>/bkdetailinfo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>BkHistoryListServlet</servlet-name>
    	<url-pattern>/bkhistorylist.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>BkVistisInfoServlet</servlet-name>
    	<url-pattern>/bkvistisinfo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>BkVisitsListServlet</servlet-name>
    	<url-pattern>/bkvisitslist.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>BkImportInfoServlet</servlet-name>
    	<url-pattern>/bkimportinfo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>BkNextPlanServlet</servlet-name>
    	<url-pattern>/bknextplan.do</url-pattern>
    </servlet-mapping>
</web-app>
